body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #efe9d1;
}

header {
    background-color: #fff; /* Set the background color for the header */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #000; /* Set the text color for the navigation links */
}

.logo {
    width: 100px; /* Adjust the width of your logo */
    height: auto; /* Maintain the aspect ratio */
}

.buy-tickets-btn {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.main-content {
    /* Add your main content styling here */
    padding: 20px;
}