.bagyt-logo-1 {
    position: absolute;
    top: 0;
    left: 870px;
    width: 180px;
    height: 177px;
    object-fit: cover;
}
.about-us,
.movies {
    position: absolute;
    top: 79px;
    left: 588px;
    line-height: 38px;
}
.about-us {
    left: 283px;
}
.frame-child {
    position: absolute;
    top: 61px;
    left: 1362px;
    border-radius: 40px;
    background-color:  #a62517;
    width: 253px;
    height: 74px;
}
.NAVimages{
    display: inline-block;
    justify-content: space-between;
    align-items: end;
    right: 8.07%;
}
.buy-tickets,
.div {
    position: absolute;
    display: inline-block;
}
.buy-tickets {
    top: 79px;
    left: 1403px;
    font-size: 36px;
    line-height: 38px;
    color: #efe9d1;
    width: 190px;
    height: 38px;
    -webkit-text-stroke: 1px #efe9d1;
}
.div {
    width: 20%;
    bottom: 3%;
    left: 8.07%;
    /*font-size: 22px;*/
    line-height: 24px;
    font-weight: 500;
    height: 42px;
    font-size: 50%;
}
.frame-item {
    position: absolute;
    top: 1223px;
    left: 155px;
    background-color: #a62517;
    width: 1635px;
    /*height: 1.31px;*/
}

.instagram-svgrepo-com-1-1,
.logo-tiktok-svgrepo-com-1-1 {
    position: absolute;
    bottom: 3%;
    right: 8%;
    height: 54px;

    /*overflow: hidden;*/
}
.instagram-svgrepo-com-1-1 {
    right: 25%;
    width: 54px;
}
.mbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.mcontainer {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.mcustom-block {
    width: 100px;
    height: 300px;
    background-color: #808080;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.mcustom-block2 {
    width: 200px;
}

.mcustom-text {
    margin: 10px;
    color: white;
    font-size: 120%;
}
.ncustom-text {
    margin: 10px;
    color: white;

}
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    background-color: #d4d4d4;
    border: 1px solid black;
}

th, td {
    color: white;
    /*background-color: rgb(128, 128, 128);*/
    padding: 10px; /* Increased padding for better spacing */
    text-align: center;
}
td:nth-child(1) {
    background-color: rgb(128, 128, 128);
}
th {
    color: white;
    background-color: rgb(128, 128, 128); /* Light gray background for row names */
}